@import "../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f9fbfd;
}

* {
    box-sizing: border-box;
}

body,
main {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #1d2d35;
    background-color: #fff7eb;
    font-family: "Montserrat", sans-serif;
    position: relative;
    min-height: 100vh;
    padding-top: 36px;
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 12px 0;

    > span {
        margin-bottom: 12px;
    }
}

h1,
h2,
h3,
h4 {
    color: #1d2d35;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 36px;
    line-height: 3.6rem;

    @media only screen and (max-device-width: 700px) {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 12px;
}

h3,
h4 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 36px;
}

section.completed,
section.started {
    margin-bottom: 24px;
}

section.started h2 {
    margin-bottom: 24px;
}

nav {
    position: absolute;
    top: 12px;
    right: 12px;
}

strong {
    font-weight: bold;
}

section.graphs {
    position: relative;
    margin-bottom: 36px;

    .graphs-wrapper {
        > p {
            margin-bottom: 8px;
        }
        .button-row:nth-child(2) {
            margin-bottom: 24px;
        }
        .button-row {
            display: flex;
            justify-content: space-around;
            margin-bottom: 12px;

            button {
                width: 100%;
                display: block;
                background-color: transparent;
                border: 1px lightgrey solid;
                padding: 6px 8px;
                border-radius: 4px;
                transition: background-color 0.1s;
                cursor: pointer;
                line-height: 1.3rem;

                @media only screen and (max-device-width: 400px) {
                    font-size: 0.9rem;
                }

                &:nth-child(1),
                &:nth-child(2) {
                    margin-right: 8px;
                }

                &.active {
                    background-color: #3fb8af;
                    color: white;
                }
            }
        }
    }

    h2 {
        margin-bottom: 12px;
    }

    .canvas-wrapper {
        margin-top: 36px;
        height: 400px;
    }
}

section.data {
    p {
        margin-bottom: 12px;
        line-height: 1.3rem;
    }
}

footer {
    margin-top: 48px;
    background-color: white;
    border-top: solid 1px rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
    width: 100%;

    p {
        margin-bottom: 12px;
        line-height: 1.3rem;
    }

    p:nth-child(3) {
        margin-bottom: 0px;
    }
}
